<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae, eligendi culpa iure possimus laudantium non odio voluptatum doloremque cupiditate dolor sed omnis dolores tempore, eaque, maiores illo alias exercitationem quam?</p>
    </div>
</div>