<div class="jumbotron mt-4 ">
    <h1 class="display-4">Notes App Nodejs</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.<p>    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis iure eos cumque quo, dignissimos hic aliquam, illum repellat recusandae exercitationem nulla! Sapiente, soluta corporis. Quaerat error perspiciatis aliquid distinctio recusandae.</p>
    <a href="" class="btn btn-primary btn-lg" >Brayan web</a>
</div>     
